.title_styling {
    color: rgba(48, 48, 48, 0.85);
}

.signin_styling {
    background-image: url(https://media.istockphoto.com/photos/lets-golf-picture-id485187122?k=6&m=485187122&s=612x612&w=0&h=SOHWYxhPqbU3F7GQh56p2DpIg_GiUFRbZ-bJR-i-dR0=);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 640px;
    min-width: 100%;

}

.titles {
    font-family: 'Arvo', serif;
}

.sign-in-form{
  width: 200px;
  display:inline-block;
  margin: auto;
  text-align: center;

}
#sign-in-form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  min-width: 0;
  background-color: rgba(53, 59, 64, 0.7);
  color: rgba(249,249,239);
}
