body{
  margin: 0;
  /*background-image: url("../img/golf_image3.jpg");*/
  background-image: url("../img/golf_image2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


/*Base*/

.navbar {
  background-color:  rgb(48, 48, 48);
}



/*signin page*/
.title_styling {
    color: rgba(48, 48, 48, 0.9);
    padding-top: 20px;
}

.signin_styling {
    background-image: url("../img/golf_image1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh
}

.titles {
    font-family: 'Fira Sans', sans-serif;
}

.sign-in-form{
  width: 200px;
  display:inline-block;
  margin: auto;
  text-align: center;
  color:white;
}

#sign-in-form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  min-width: 0;
  background-color: rgba(53, 59, 64, 0.7);
  color: rgba(249,249,239);
}

.signin_title {
  color: white;
}

.signup_link {
  color: white;
}

/*score_input*/
.round_card {
      border-radius: 25rem;
}

.score_input_header {
  background-color: rgba(48, 48, 48, 1);
  color: white;
}

.score_input_body {
  background-color: #e6e6e6;
  color: black;
  font-weight: bold;
}

.submit_btn {
    margin: 0;
    background-color: transparent;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}

/*list_courses*/

.round_selector {
  background-color: rgba(48, 48, 48, 0.8);
  color: white;
  padding: 20px;
  text-align: left;
  margin: auto;
}

/*tournament initiation*/
.initiation_header {
  color: white;
}

.player_names1 {
  background-color: rgba(48, 48, 48, 0.9);
  color: white;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.player_names2 {
  background-color: rgba(48, 48, 48, 0.9);
  color: white;
  margin-top: 10px;
  width: 100%;
}

.tourney_name {
  background-color: rgba(48, 48, 48, 0.9);
  color: white;
}


/*signup*/
.signup_title {
    font-family: 'Fira Sans', sans-serif;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 0px;
}

.box_styling {
  color: white;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: auto;
  text-align:left;
}

#sign-in-form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    min-width: 0;
    background-color: rgba(53, 59, 64, 0.7);
    margin: auto;
}

.signup_button {
  text-align: center;
  margin: auto;
}


/*Leaderboard*/

.leaderboard_title {
  text-align: center;
  text-decoration: underline;
}

.leaderboard_round {
  font-weight: bold;
}

/*list_tournaments*/
.list_tournaments_card {
  background-color: rgba(48, 48, 48, 0.8);
  color: white;
  padding: 20px;
  text-align: left;
  margin: auto;
  margin-top: 20px;
}

.tournament_name {
  font-weight: bold;
}