<!doctype html>

<!--Corresponds to View #3 in the wireframe-->

<!--TODO:  Are we using the golf API to attain golf course data?  Need this info before spending time building this file-->

<html>

    <body>
        <h1>
            Select a course:
        </h1>
        <!--TODO:  Update the routes once routes are available-->
        <li>
            <ul><a href="http://www.placeholder.com">Course #1</a></ul>
            <ul><a href="http://www.placeholder.com">Course #2</a></ul>
            <ul><a href="http://www.placeholder.com">Course #3</a></ul>
        </li>
    </body>

</html>
