<!doctype html>
<html lang="en">

<head>
  <title>ParPal</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!--Links to the custom CSS stylesheet, do I need this here as well as on the html template?-->
  <link rel="stylesheet" href="/static/css/styles.css"> {% block headContent %} {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/score_input">ParPal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          {% if session['user'] %}
          <a class="nav-link" href="/list_tournaments">Leaderboard <span class="sr-only">(current)</span></a> {% else %}
          <a class="nav-link" href="/list_tournaments"> Tournaments <span class="sr-only">(current)</span></a> {% endif%}
        </li>
      </ul>
      <span class="navbar-text">
        {% if 'user' in session %} <p>Welcome, {{ session['user'] }}</p>
        <form action="/logout" method="post" id='logout' align="left">
          <input type="submit" value="Log Out" />
        </form>
        {% endif %} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}{% endif %}{% endwith %}
      </span>
    </div>
  </nav>
  {% block content %} {% endblock %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>
