<!doctype html>

<!--Menu - Leaderboard link (popup)-->
<!--Logout-->

<!--need to add directions to repo on how to open app and run it.  Do this before Sunday-->

<html>

<head>
  <title>{{title}}</title>
</head>

<body>
  {% if 'user' in session %} {{ session['user'] }}
  <div>
    <form action="/logout" method="post" id='logout'>
      <input type="submit" value="Log Out" />
    </form>
  </div>
  {% endif %} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
  <p>{{message}}</p>
  {% endfor %}{% endif %}{% endwith %}
  <nav>
    <ul>
      <li><a href='/leaderboard'>Leaderboard</a></li>
    </ul>
  </nav>
  {% block content %} {% endblock %}</body>

</html>
