{% extends "base.html" %} {% block content %}
<div class="round_selector card" style="width: 30rem;">
  <div class="card-body">
    <h1>Select a course:</h1><br>
    <form action='/initiate_tournament' method='post'>
      {% for course in courses %}
      <input type='radio' name='course' value='{{course.name}}'>
      <label for='{{course.name}}'>{{course.name}}</label><br> 
      {% endfor %} 
      <div class="submit_button"><br>
        <input class="scsubmit_text btn-lg btn-primary text-center" type="submit" value='Start Tournament'>
      </div>
    </form>
  </div>
</div>



{% endblock %}





