 {% extends "base.html" %} {% block content %}

<div class="round_selector card" style="width: 30rem;">
  <div class="card-body">
    <h1>Select a course:</h1><br>
        <!--TODO:  Update the routes once routes are available-->
      <form action='/initiate_tournament' method='post'>
        {% for course in courses %}

        <input type='radio' name='course' value='{{course.name}}'>
        <label for='{{course.name}}'>{{course.name}}</label> <br>
        {% endfor %} <input type='submit' value='Start Tournament'>
      </form>
  </div>
</div>


{% endblock %}

