{% extends "base.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

<div class="info-row" style="display: flex; justify-content: space-around; padding-bottom: 30px; padding-top: 20px;">

  <div class="card" style="float: center; border: 1px solid; width: 8rem; height: 8rem; text-align: center;">
    <img class="card-img-top" src="..." >
    <div class="card-body">
      <h4 class="card-title">Round</h4>
      <h4>{{round_num}}</h4>
    </div>
  </div>

  <div class="card" style="float: center; border: 1px solid; width: 8rem; height: 8rem; text-align: center;">
    <img class="card-img-top" src="..." >
    <div class="card-body">
      <h4 class="card-title">Hole</h4>
      <h4>{{hole_num}}</h4>
    </div>
  </div>

  <div class="card" style="float: right; border: 1px solid; width: 8rem; height: 8rem; text-align: center;">
    <img class="card-img-top" src="..." >
    <div class="card-body">
      <h4 class="card-title">Par<h4>
      <h4>{{par_num}}</h4>
    </div>
  </div>

</div>

<form action='/process_score' method='post'>

  <table class="table table-hover table-inverse">
    <thead class="thead-light">
      <tr>
        <th>Player Name</th>
        <th>Score</th>

      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <td>{{players[0].name}}</td>
        <td><input type="text" name="player_1_score" placeholder="Enter Score"></td>
      </tr>
      <tr class="table-success">
        <td>{{players[1].name}}</td>
        <td><input type="text" name="player_2_score" placeholder="Enter Score"></td>
      </tr>
      <tr class="table-success">
        <td>{{players[2].name}}</td>
        <td><input type="text" name="player_3_score" placeholder="Enter Score"></td>
      </tr>
      <tr class="table-success">
        <td>{{players[3].name}}</td>
        <td><input type="text" name="player_4_score" placeholder="Enter Score"></td>
      </tr>
    </tbody>
  </table>
  <input type='submit' value='Submit Scores!'>

</form>


{% endblock %}
