{% extends "base.html" %} {% block content %}
<h3>Input Scores:</h3>
<h2>Round: {{round_num}}</h2>
<h2>Hole: {{hole_num}}</h2>
<h2>Par: {{par_num}}</h2>

<form action='/process_score' method='post'>

  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Score</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{players[0].name}}</td>
        <td><input type="text" name="player_1_score" placeholder="Enter Score"></td>
      </tr>
      <tr>
        <td>{{players[1].name}}</td>
        <td><input type="text" name="player_2_score" placeholder="Enter Score"></td>
      </tr>
      <tr>
        <td>{{players[2].name}}</td>
        <td><input type="text" name="player_3_score" placeholder="Enter Score"></td>
      </tr>
      <tr>
        <td>{{players[3].name}}</td>
        <td><input type="text" name="player_4_score" placeholder="Enter Score"></td>
      </tr>
    </tbody>
  </table>

  <input type='submit' value='Submit Scores!'>
</form>


{% endblock %}
