{% extends "base.html" %} {% block headContent %}

<link rel="stylesheet" href="/static/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">


{% endblock %} {% block content%}

<!--background color-->
<!--<body class="black">-->

<!--title and subtitle-->
<div class="signin_styling text-center">
  <div class="container">
    <div class="titles">
      <h1 class="title_styling display-1 text-center font-weight-bold">ParPal</h1>
      <p class="lead text-center font-weight-bold">Tee off your golf game <br>with ParPal</p>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
      </div>
      <div class='col-md-4' id='sign-in-form'>
        <h3 class="signin_title">Sign-in:</h3>
        <form class='sign-in-form' action="/signin" method="post">
          <label for='email'><strong>Email:</strong></label>
          <input name="email" type="text" value="{{email}}" />
          <p class="email_error">{{email_error}}</p>
          <label for='password'><strong>Password:</strong></label>
          <input name="password" type="password" value="{{password}}" />
          <p class="password_error">{{password_error}}</p>
          <input class="btn btn-primary text-center" type="submit" value="Submit">
        </form>
        <br>
        <br>
        <p class="signup_link"><strong>Not a user? Sign up<a href="/signup"> here</a></strong></p>

        <!--<p>Competitors, check out the <strong><a href="/leaderboard">Leaderboard</a></strong></p>-->
        
      </div>
      <div class='col-md-4'>
      </div>
    </div>
  </div>
</div>
{% endblock%}
