{% extends "base.html" %} {% block content%}

<body class="bg-light">
  <div class="container text-center">
    <h1 class="display-1">ParPal</h1>
    <p class="lead">Tee off your golf game with ParPal, the best scorecard app on the market</p>
  </div>


  <p class="h4">Sign-in:</p>
  <!--TODO: Update route and method if necessary once backend files created-->
  <form action="/signin" method="post">
    <table>
      <tr>
        <td>
          <label>Email:</label>
        </td>
        <td>
          <input name="email" type="text" value="{{email}}" />
        </td>
        <td>
          <p class="email_error">{{email_error}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <label>Password:</label>
        </td>
        <td>
          <input name="password" type="password" value="{{password}}" />
        </td>
        <td>
          <p class="password_error">{{password_error}}</p>
        </td>
      </tr>
    </table>
    <input class="btn btn-primary text-center" type="submit" value="Submit">
  </form>
  <!--Update the URL once route is created-->
  <p>Not a user? Sign up <strong><a href="/signup">here</a></strong></p>
  <!--<p>Competitors, check out the <strong><a href="/leaderboard">Leaderboard</a></strong></p>-->
</body>

{% endblock%}
