{% extends "base.html" %} 

{% block headContent %}
  
  <link rel="stylesheet" href="/static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet"> 

{% endblock %}

{% block content%}
                
<!--background color-->
<!--<body class="black">-->

  <!--title and subtitle-->
  <div class = "signin_styling">
    <class="container"><br><br>
    <div class="titles">
      <h1 class="display-1 title_styling text-center font-weight-bold">ParPal</h1><br>
      <p class="lead text-center font-weight-bold">Tee off your golf game with ParPal, the best scorecard app on the market</p><br><br><br><br>
    </div>

  <p class="h4">Sign-in:</p>

  <form action="/signin" method="post">
    <table>
      <tr>
        <td>
          <label><strong>Email:</strong></label>
        </td>
        <td>
          <input name="email" type="text" value="{{email}}" />
        </td>
        <td>
          <p class="email_error">{{email_error}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <label><strong>Password:</strong></label>
        </td>
        <td>
          <input name="password" type="password" value="{{password}}" />
        </td>
        <td>
          <p class="password_error">{{password_error}}</p>
        </td>
      </tr>
    </table>
    <input class="btn btn-primary text-center" type="submit" value="Submit">
  </form>

  <p><strong>Not a user? Sign up<a href="/signup">here</a></strong></p>
  <!--<p>Competitors, check out the <strong><a href="/leaderboard">Leaderboard</a></strong></p>-->


</div>
</body>


{% endblock%}
