{% extends "base.html" %} {% block content%}

<link rel="stylesheet" href="/static/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">


<div class="signin_styling text-center">
  <div class="container">
    <div class="titles"><br>
      <h1 class="signup_title title_styling text-center font-weight-bold">Signup for an Account</h1><br>
    </div>
  </div>

<div class='container'>
  <div class='signup_box row'>
    <div class='col-md-4' id='sign-in-form'>
      <form action="/signup" method="post">
        <div class="signin_elements"

          <label for='username'><strong>Username:</strong></label>
          <input name="username" type="text" value="{{username}}" />
          <p class="username_error">{{username_error}}</p>

          <label for='password'><strong>Password:</strong></label>
          <input name="password" type="password" value="{{password}}" />
          <p class="email_error">{{password_error1}}</p>

          <label for='verify'><strong>Verify Password:</strong></label>
          <input name="verify" type="password" value="{{verify}}" />
          <p class="password_error">{{password_error2}}</p>

          <label for='email'><strong>Email Address:</strong></label>
          <input name="email" type="text" value="{{email}}" />
          <p class="email_error">{{email_error}}</p>

        </div>
        <br>

        <input class="btn btn-primary text-center" type="submit" value="Submit"><br>
          
        <p>Already a user? Login <strong><a href="/">here</a></strong></p>
      </form>

    </div>
  </div>
</div>

{% endblock %}