{% extends "base.html" %} {% block content %}
<h1>Round</h1>
<!--TODO:  Fill in route-->
<form action="/tournament_initiation" method="post">
  <table>
    <tr>
      <td>
        <label>Number of Players:</label>
      </td>
      <td>
        <input name="numOfPlayers" type="text" />
      </td>
      <!--<td>
        <p class="numplayers_error">{{numplayers_error}}</p>
      </td>-->
    </tr>
    <tr>
      <td>
        <label>Player 1 Name:</label>
      </td>
      <td>
        <input name="Player1" type="text" />
      </td>
      <td>
        <p class="name_error">{{name_error}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <label>Player 2 Name:</label>
      </td>
      <td>
        <input name="Player2" type="text" />
      </td>
      <td>
        <p class="name_error">{{name_error}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <label>Player 3 Name:</label>
      </td>
      <td>
        <input name="Player3" type="text" />
      </td>
      <td>
        <p class="name_error">{{name_error}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <label>Player 4 Name:</label>
      </td>
      <td>
        <input name="Player4" type="text" />
      </td>
      <td>
        <p class="name_error">{{name_error}}</p>
      </td>
    </tr>

  </table>

  <input type="Submit" value='Start Round!' />

</form>

</body>

{% endblock %}
