{% extends "base.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/styles.css">

<div class="initiation_header">
  <h3>Setting up round for: {{course}}</h3>
<div>

<form action="/process_players" method="post">

  <label>Tournament Name</label>
  <input type='text' name='tournament_name' />

  <table class="table table-hover table-inverse">
    <thead>
      <!--Using score_input_header class for styling-->
      <tr class="score_input_header">
        <th>Player Names:</th>
      </tr>
    </thead>
    <!--using score_input_body class for styling-->
    <tbody class="score_input_body">
      <tr>
        <td>
          <label>Player 1 Name:</label>
        </td>
        <td>
          <input name="player1" type="text" />
        </td>
        <td>
          <p class="name_error">{{name_error}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <label>Player 2 Name:</label>
        </td>
        <td>
          <input name="player2" type="text" />
        </td>
        <td>
          <p class="name_error">{{name_error}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <label>Player 3 Name:</label>
        </td>
        <td>
          <input name="player3" type="text" />
        </td>
        <td>
          <p class="name_error">{{name_error}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <label>Player 4 Name:</label>
        </td>
        <td>
          <input name="player4" type="text" />
        </td>
        <td>
          <p class="name_error">{{name_error}}</p>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="submit_btn">
    <input class="scsubmit_text btn-lg btn-primary text-center" type="Submit" value='Start Round!'>
  </div>
  
</form>

{% endblock %}
